[submodule "vendor/github.com/satori/go.uuid"]
	path = vendor/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid
[submodule "vendor/github.com/tinylib/msgp"]
	path = vendor/github.com/tinylib/msgp
	url = https://github.com/tinylib/msgp.git
